
.first-col {
    background-color: aqua;
}
.second-col {
    background-color: bisque;
}
.third-col {
    background-color: aliceblue;
}

.box1{
    background-color: rgb(156, 232, 208);
}
.box2{
    background-color: antiquewhite;
}
.box3{
    background-color: aliceblue;
}
.box4{
    background-color: bisque;
}